@tailwind base;
@tailwind components;
@tailwind utilities;

.bg-image {
    position: relative;
    /* background-image: url('/home.jpg'); */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;
  }
  
  .bg-gradient {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(to bottom, transparent, rgba(0, 0, 0, 0.5));
  }
  

.bg{
    /* background: rgb(15,20,22);
    background: linear-gradient(156deg, rgba(15,20,22,1) 0%, rgba(67,67,67,1) 70%); */
    background: rgb(18,19,20);
  background: linear-gradient(156deg, rgba(18,19,20,0.8968837535014006) 24%, rgba(48,48,48,1) 76%);
  }
  
  .bg2{
    background: rgb(59,59,59);
    background: linear-gradient(156deg, rgba(59,59,59,1) 6%, rgba(18,19,20,0.8968837535014006) 71%);
    box-shadow: 4px 4px 20px black;
  }
  
  .icon-bg{
    box-shadow: 0px 0px 5px rgba(255, 255, 255, 0.582);
  }
  .shadowWhite{
    background: rgb(48, 48, 48);
    box-shadow: 3px 3px 7px black;
  }
  .shadowWhite2{
    box-shadow: 1px 1px 10px black inset;
  }
  
  @keyframes spin {
    to {
        transform: rotate(360deg);
    }
  }
  .animate-spin {
    animation: spin 13s linear infinite; 
  }
  
  .container {
    -ms-overflow-style: none;  /* Internet Explorer 10+ */
    scrollbar-width: none;  /* Firefox */
  }
  .container::-webkit-scrollbar { 
    display: none;  /* Safari and Chrome */
  }
  
  
  
  .custom-range {
    -webkit-appearance: none;
    appearance: none;
    width: 100%;
    height: 10px;
    border-radius: 5px;
    background: #ddd; /* Background color of the progress bar track */
    outline: none;
    padding: 0;
    margin: 0;
  }
  
  /* CSS for the custom range input */
  .custom-range {
    -webkit-appearance: none;
    appearance: none;
    width: 40vh;
    height: 8px;
    border-radius: 5px;
    background: #ddd; /* Background color of the progress bar track */
    outline: none;
    padding: 0;
    margin: 0;
    box-shadow: 5px 5px 10px black inset;
  }
  
  /* Style the thumb (slider knob) */
  .custom-range::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 18px;
    height: 18px;
    border-radius: 50%;
    background: #f69a1a; /* Color of the thumb */
    cursor: pointer;
  }






  /* Custom Swiper Pagination Styles */
.mySwiper .swiper-pagination {
    bottom: 30px; /* Adjust the position of pagination dots */
}
@media (min-width: 200px) and (max-width: 900px) {
  .mySwiper .swiper-pagination {
    bottom: 70px; /* Adjust the position of pagination dots */
}
}
  
  .swiper-pagination-bullet {
    background-color: #535353ac; /* Change the background color of pagination dots */
    width: 7px; /* Change the width of pagination dots */
    height: 7px; /* Change the height of pagination dots */
    margin: 0 5px; /* Adjust the space between pagination dots */
    opacity: 0.5;
  }
  
  .swiper-pagination-bullet-active {
    background-color: #ff8f33; /* Change the background color of active pagination dot */
    opacity: 1; /* Adjust the opacity of active pagination dot */
  }
 /* Custom Swiper Navigation Styles */
.swiper-button-prev,
.swiper-button-next {
  background-color: #ffffff; /* Background color of arrows */
  color: #000000; /* Arrow color */
  width: 20px !important; /* Width of arrows */
  height: 20px !important; /* Height of arrows */
  border-radius: 50%;  /* Make arrows circular */
  font-size: 10px; /* Font size of arrows */
  line-height: 20px; /* Center arrows vertically */
  text-align: center; /* Center arrows horizontally */
  opacity: 1; /* Initial opacity of arrows */
  position: absolute; /* Position arrows absolutely */
  top: 50%; /* Position arrows vertically in the middle */
  transform: translateY(-50%); /* Adjust vertical alignment */
  z-index: 10; /* Ensure arrows are above slides */
}

@media (min-width: 200px) and (max-width: 900px) {
  .swiper-button-prev,
.swiper-button-next  {
  top: 40%; /* Adjust the position of pagination dots */
}
}

.swiper-button-prev {
  left: 20px; /* Position previous arrow to the left */
}

.swiper-button-next {
  right: 20px; /* Position next arrow to the right */
}

.swiper-button-prev:hover,
.swiper-button-next:hover {
  opacity: 1; /* Increase opacity on hover */
}


:root {
  --swiper-navigation-size: 15px;
}